/.quarto/
/_freeze/
_site/
docs/
*.quarto_ipynb
mathjax-config.js
.DS_Store
*.docx
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rds
*.rds
*.parquet
*.arrow
*.csv
*.geojson
*.gpkg

**/*.quarto_ipynb
